extends ../base/layout

block variables
  - var title = "Тестовое задание"
  - var hasHeader = true
  - var hasFooter = true
  - var currentPage = "main"

block main
  include ../components/first-screen.pug
  include ../components/team.pug
  
