extends ../base/layout

block variables
  - var title = "Afrianska"
  - var hasHeader = true
  - var hasFooter = true
  - var currentPage = "main"
  - var footerMod = "index"

block main
  include ../components/first-screen.pug
  main
    include ../components/features.pug
  include ../components/clients.pug

