.first-screen {
  margin-top: -109px;
  background: $gradient-white-blue;

  &__wrapper {
    max-width: 1366px;
    margin: 0 auto;
    color: $color-blue-1;
    background-image: url("../img/svg/illustration.svg");
    background-repeat: no-repeat;
    background-position: right 27px top 59%;
    background-size: 50%;

    @include viewport--md {
      background-size: 60%;
      background-position: right 0 bottom 0;
    }

    @include viewport--sm {
      background-size: 80%;
    }
  }

  &__inner-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 768px;
    padding-top: 145px;
    // padding-left: 37px;
    padding-bottom: 30px;

    @include viewport--sm {
      padding-top: 100px;
      min-height: 100vh;
    }
  }

  &__title {
    max-width: 650px;
    margin-bottom: 30px;
    @include text(64px, 74px, 700);
    font-family: $font-lusitana;
    letter-spacing: 2.7px;

    @include viewport--md {
      @include text(60px, 70px, 700);
    }

    @include viewport--sm {
      @include text(44px, 52px, 700);
    }
  }

  &__text {
    max-width: 430px;
    margin-top: 0;
    margin-bottom: 75px;
    font-family: $font-gilroy;
    @include text(16px, 26px);
    letter-spacing: 0.8px;

    @include viewport--sm {
      margin-bottom: 35px;
    }
  }

  &__button {
    font-size: 17px;

    @include viewport--sm {
      @include text(14px, 18px);
    }
  }
}
