.form {
  display: flex;
  flex-direction: column;
  padding: 54px 56px 56px;
  width: 100%;
  min-height: 800px;
  background-color: $color-default-white;
  box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  color: $color-blue-1;
  letter-spacing: 0.8px;

  &--message {
    margin: 0 auto;
    min-height: 600px;
    width: 600px;
  }

  @include viewport--sm {
    padding: 30px;
    min-height: unset;

    &--message {
      margin: 0 auto;
      // height: 600px;
      width: 100%;
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 48px;
    @include text(20px, 30px, 600);
    letter-spacing: 0.8px;
  }

  &__field {
    display: flex;
    flex-direction: column;
    margin-bottom: 31px;

    label {
      @include text(16px, 30px, 300);
      margin-bottom: 9px;
    }

    input,
    textarea {
      padding: 0 36px 0;
      @include text(16px, 30px, 300);
      color: $color-blue-1;
      border: 1px solid rgba(31, 63, 104, 0.4);
      border-radius: 10px;

      &::placeholder {
        color: $color-blue-1;
        opacity: 0.2;
      }
    }

    input {
      height: 72px;
    }

    textarea {
      padding-top: 20px;
      height: 144px;
      resize: none;
    }

    &--error input,
    &--error textarea {
      border-color: $color-red;
    }
  }

  &__button {
    margin-top: auto;
    max-width: unset;
    width: 100%;
    min-height: 72px;
    @include text(16px, 26px, 600);
    letter-spacing: 0.8px;
  }
}
