.header {
  padding: 27px 42px 30px 42px;

  @include viewport--sm {
    padding-left: 20px;
    padding-right: 20px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    transition: $default-transition-settings;
    
    &:hover {
      transform: scale(1.2);
    }
  }
}
