.team {
  margin-right: 96px;
  color: $color-default-white;
  background-color: $color-blue-2;
  border-radius: 0 200px 0 0;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 0 96px 214px;
    // padding-right: 197px;
    margin-right: 197px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  }

  &__column {
    max-width: 460px;
  }

  &__title {
    max-width: 320px;
    letter-spacing: 1.5;
    @include text(36px, 46px, 600);
  }

  &__text {
    padding-right: 35px;
    @include text(16px, 26px);
    opacity: 0.6;
  }
}
