.team {
  margin-right: 96px;
  color: $color-default-white;
  background-color: $color-blue-2;
  border-radius: 0 200px 0 0;

  &__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 75px 0 84px 214px;
    margin-right: 197px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  }

  &__column {
    max-width: 477px;
  }

  &__title {
    margin-top: 14px;
    max-width: 320px;
    letter-spacing: 1.5px;
    @include text(36px, 46px, 600);
  }

  &__text {
    letter-spacing: 0.3px;
    @include text(17px, 26px);
    opacity: 0.6;
  }

  &__button {
    align-self: center;
  }
}
