.team {
  // margin-right: 96px;
  color: $color-default-white;
  background-color: $color-blue-2;
  border-radius: 0 200px 0 0;

  @include viewport--sm {
    margin-right: 30px;
  }

  &__wrapper {
    position: relative;

    &::after {
      @include pseudo();
      bottom: 0;
      left: 0;
      display: block;
      width: calc(100% - 197px);
      height: 1px;
      margin-right: 197px;
      background-color: rgba(255, 255, 255, 0.4);

      @include viewport--sm {
        width: calc(100% - 30px);
      }
    }
  }

  &__inner-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 75px;
    padding-bottom: 84px;
    padding-left: 79px;

    @include viewport--sm {
      padding-left: 30px;
    }
  }

  &__column {
    max-width: 477px;
  }

  &__title {
    margin-top: 14px;
    max-width: 320px;
    letter-spacing: 1.5px;
    @include text(36px, 46px, 600);
  }

  &__text {
    margin-bottom: 50px;
    letter-spacing: 0.3px;
    @include text(17px, 26px);
    opacity: 0.6;
  }

  &__button {
    align-self: center;
  }
}
