mixin header(headerMod, currentPage)
  -
    var headerLinks = [
      {
        href: "#",
        text: "Contact us"
      },
      {
        href: "#",
        text: "Blog"
      }
    ]

  header(class=(headerMod) ? "header header--" + headerMod : "header")
    .header__wrapper
      if(currentPage === "main")
        a.header__logo
          +icon('logo', 48, 48)
      else
        a.header__logo(href="main.html", aria-label="Переход на главную")
          +icon('logo', 48, 48)

      nav.main-nav
        button.main-nav__toggle.btn-reset(type="button", aria-label="Переключатель отображения меню", aria-pressed="false")
          +icon("icon-burger", 26, 26)
        .main-nav__wrapper
          ul.main-nav__list
            each link, index in headerLinks
              if(index === currentPage)
                li
                  a.main-nav__link.main-nav__link--active=link.text
              else
                li
                  a.main-nav__link(href=link.href)=link.text
