mixin modal-message()
  form.form.form--message(action="https://echo.htmlacademy.ru/courses" method="post" target="_blank")
    h2.form__title SEND US MESSAGE
    +inputField({type: "text", name: "name", placeholder: "Your Name", required: true, label: "Full Name"})
    +inputField({type: "email", name: "email", placeholder: "Your Email", required: true, label: "Email"})
    +textareaField("Message", "message", "Your Message")
    button.button.form__button(type="submit" data-modal="success") SUBMIT
