// Colors
//--------------------------

// Default

$color-default-black:             #000000;
$color-default-white:             #ffffff;
$color-transparent:               rgba(255, 255, 255, 0);

// Base

$color-black:                     #484848;
$color-blue-1:                    #1f3f68;
$color-blue-2:                    #316099;
$color-blue-3:                    #356ead;
$color-blue-4:                    #5a98d0;
$color-blue-5:                    #98C3E8;
$color-red:                       #eb5757;
$color-blue-transparent:          rgba(31, 63, 104, 0.6);

$gradient-blue: linear-gradient(253.6deg, #98D0FC 2.46%, #3481D7 93.24%);
$gradient-white-blue: linear-gradient(0deg, rgba(60%, 76%, 91%, 0.4) 8.84%, rgba(152, 195, 232, 0) 31.12%);

$border-white-04: 1px solid rgba(255, 255, 255, 0.4);

// Fonts
//--------------------------

$font-gilroy: "Gilroy", "Arial", sans-serif;
$font-lusitana: "Lusitana", serif;

// Animation
//---------------------------------

$default-transition-settings:       0.3s ease;

// Viewports
//--------------------------

$viewport--sm:                      320px;
$viewport--md:                      768px;
$viewport--lg:                      1024px;
$viewport--xl:                      1440px;
$viewport--xxl:                     1920px;

// Retina
//--------------------------

$retina-dpi: 144dpi;
$retina-dppx: 2dppx;
