section.team
  .team__wrapper
    .team__column
      h2.team__title Intersted to work with our team?
      p.team__text.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
    a.team__button.button(href="#") Let’s Talk
